@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 238 0% 95%;
  --foreground: 238 0% 0%;
  --card: 238 0% 90%;
  --card-foreground: 238 0% 10%;
  --popover: 238 0% 95%;
  --popover-foreground: 238 95% 0%;
  --primary: 238 61% 25%;
  --primary-foreground: 0 0% 100%;
  --secondary: 238 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 200 10% 85%;
  --muted-foreground: 238 0% 35%;
  --accent: 200 10% 80%;
  --accent-foreground: 238 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 238 0% 90%;
  --border: 238 20% 50%;
  --input: 238 20% 18%;
  --ring: 238 61% 25%;
  --radius: 0.3rem;
}
.dark {
  --background: 238 10% 5%;
  --foreground: 238 0% 90%;
  --card: 238 0% 0%;
  --card-foreground: 238 0% 90%;
  --popover: 238 10% 5%;
  --popover-foreground: 238 0% 90%;
  --primary: 238 61% 25%;
  --primary-foreground: 0 0% 100%;
  --secondary: 238 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 200 10% 15%;
  --muted-foreground: 238 0% 60%;
  --accent: 200 10% 15%;
  --accent-foreground: 238 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 238 0% 90%;
  --border: 238 20% 18%;
  --input: 238 20% 18%;
  --ring: 238 61% 25%;
  --radius: 0.3rem;
}

@layer base {
  #root {
    @apply h-screen w-screen;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground select-none;
  }
}
